{% with messages = get_flashed_messages() %}
    {% if messages %}
        <script>
            alert("{{messages[-1]}}"); // messages리스트의 맨 마지막 요소를 꺼냄
        </script>
    {% endif %}
{% endwith %}
<html>
    {{result.title}}
    <br>
    {{result.name}}
    <br>
    {{result.pubdate|formatdatetime}}
    <br>
    {{result.view}}
    <br>
    {{result.contents}}

    <br>
    <a href="{{url_for('board.lists', page=page, search=search, keyword=keyword)}}">리스트</a>

    {% if session["id"] == result.writer_id %}
    <a href="{{url_for('board.board_delete', idx=result.id)}}">글삭제</a>
    <a href="{{url_for('board.board_edit', idx=result.id)}}">글수정</a>
    {% endif %}
</html>

